body {
  margin: 0px;
}
footer {
  margin: 0px;
  padding: 0px 250px;
}
img {
  height: auto;
  width: 200px;
}

header,
.intro {
  background-color: #1f2937;
  color: #f9faf8;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
}

.logo h2 {
  margin: 0;
  font-size: 24px;
}

a {
  text-decoration-line: none;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  display: flex;
  gap: 12px;
}
li {
  list-style-type: none;
}

header {
  display: flex;
  padding: 5px 200px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.intro {
  display: flex;
  padding: 50 200px;
  align-items: center;
  gap: 20px;
}

.intro img {
  height: 300px;
  width: 1000px;
}

.intro-text h1 {
  font-size: 48px;
  font-weight: 800;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  font-size: 18px;
  padding: 15px 35px;
  border-radius: 15px;
  color: #e5e7eb;
}
